* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

header {
    background-color: #FA6A1F;
    color: white;
}

.d-flex {
    display: flex;
}

.container {
    width: 1000px;
    margin: auto;
}

.header-container {
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
}

.category a {
    text-decoration: none;
    color: white;
    padding: 0 3px;
}

.logo img {
    width: 150px;
}

.nav {
    text-align: end;
}

.nav i {
    padding: 0 3px;
}

.main-container {
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;
}

.product {
    background-color: lightgrey;
    height: 300px;
    width: calc((100% - 40px) / 3);
}